// base layout classes

.container {
  width: 100%;
  max-width: 45rem;
  box-sizing: border-box;
}

.row {
  display: flex;
}

// justify content classes
$layout-values: flex-start, flex-end, center, space-between, space-around;

@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }
}

// row directions classes
$row-directions: row, row-reverse, column, column-reverse;

@each $val in $row-directions {
  .flex-#{$val} {
    flex-direction: $val;
  }
}
