// base layout classes
#root {
  height: 100vh;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
}

.row {
  display: flex;
}

// justify content classes
$layout-values: flex-start, flex-end, center, space-between, space-around;

@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }
}
