.answer {
  border: 0.5px solid black;
  padding: 6px 20px 6px 20px;
  border-radius: 24px;
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: rgba(209, 209, 209, 0.359);
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
