.container-child {
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .answer {
    border: $base-border-thickness solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: $base-border-radius;
    font-size: $font-size-sm;
    background-color: $color-answer-btn;
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0;
    cursor: pointer;
    transition-duration: 50ms;
    transition: background-color 1s;
    &:hover {
      transform: scale(1.05);
    }
  }

  .selected-answer {
    background-color: $color-selected-answer-btn;
  }

  .correct-answer {
    background-color: $color-correct-answer-btn;
  }

  .wrong-answer {
    background-color: $color-wrong-answer-btn;
  }
}
