* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: radial-gradient(
    circle,
    rgba(85, 88, 91, 0.8057816876750701) 0%,
    rgba(92, 105, 120, 1) 100%
  );
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 0 1 700px;
  /* width: 700px; */
  height: 90%;
  background-image: url('../public/intro-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  box-shadow: 2px 5px 24px -2px rgba(66, 68, 90, 1);
  padding: 0 30px;
}

.container-child {
  align-self: flex-start;
}

.title {
  margin: 0;
  font-size: 80px;
  font-weight: 500;
  color: rgb(40, 40, 64);
  letter-spacing: 2px;
}

.title-desc {
  font-size: 24px;
  color: rgba(40, 40, 64, 0.82);
  margin: 6px 0 36px 0;
}

.start-btn {
  border: none;
  padding: 24px 80px 24px 80px;
  border-radius: 24px;
  font-size: 26px;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
}

.start-btn:hover {
  transform: scale(0.96);
}

.question {
  color: rgb(34, 34, 119);
  letter-spacing: 0.5px;
  font-size: 24px;
  margin: 12px 0 12px 0;
  font-weight: 500;
}

.question-frame {
  /* margin: 0 64px 0 64px; */
}

.question-cont {
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.237);
  padding-bottom: 6px;
  /* min-width: 572px; */
}

.answer {
  border: 0.5px solid black;
  padding: 6px 20px 6px 20px;
  border-radius: 24px;
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: rgba(209, 209, 209, 0.359);
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.selected-answer {
  background-color: rgba(22, 102, 163, 0.321);
}

.wrong {
  background-color: rgba(244, 1, 1, 0.726);
}

.correct {
  background-color: rgba(93, 246, 10, 0.636);
}

.check-btn {
  border: none;
  padding: 10px 40px 10px 40px;
  border-radius: 24px;
  font-size: 24px;
  background-color: rgb(247, 110, 86);
  color: #fff;
  margin: 18px 0 0 0;
  cursor: pointer;
}

.check-btn:hover {
  transform: scale(0.96);
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.score {
  margin: 0;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.871);
  margin-top: 6px;
  background-color: rgba(247, 110, 86, 0.128);
  box-shadow: 2px 5px 24px -2px rgba(66, 68, 90, 0.197);
  font-size: 22px;
  border-radius: 6px;
  padding: 2px 12px 2px 12px;
}

.select {
  width: 50%;
  padding: 12px;
  margin: 12px;
  margin-bottom: 28px;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .container {
    height: 100%;
    border-radius: 0;
    gap: 15px;
    /* justify-content: space-around; */
  }
  .question {
    font-size: 18px;
  }
  .answer {
    font-size: 12px;
    padding: 3px 10px 3px 10px;
  }
  .check-btn {
    font-size: 18px;
    padding: 5px 20px 2px 20px;
  }
}
